# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Warmup - Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score `1 = active user`, `0 = inactive user`) based on Hooli data from Jan-Apr 2015.


Based on this problem statement, answer the following four questions:

#### 1. What is the outcome? What are you trying to predict?

Answer: The outcome is the williness of converting him/herself to paying customer. We are trying to predict, given the profile of the customer, his/her activity.

#### 2. What are the predictors/covariates?

Answer: The predictors are customer data which includes age, gender, location, days since last login and activity score.

#### 3. What timeframe is this data relevant for?

Answer: All data from Jan to Apr 2015 (4 months data)

#### 4. What is the hypothesis?

Answer: Given some contraints ( not clearly illustratied in the prolem statement) that we can somehow predict if a customer will convert to paying customer.

## Let's get started with our dataset

Now we will work with the UCLA admissions dataset. The following code loads the dataset into a pandas dataframe.

In [7]:
import os
import numpy as np
import pandas as pd

# If you checked-out the GitHub repository, the UCLA dataset is under ../assets/admissions.csv (relative to this file)
path = os.path.join('..', 'assets', 'admissions.csv')
#path = 'https://github.com/ga-students/DS_HK_11/blob/gh-pages/projects/unit-projects/project-1/assets/admissions.csv'

"""""
# Alternative: Get the dataset directly online...
path = 'https://github.com/ga-students/DS_HK_11/blob/gh-pages/projects/unit-projects/project-1/assets/admissions.csv'
"""""

df = pd.read_csv(path)

df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

Explore the dataset and answer following questions. If necessary review the information in the [readme](https://github.com/ga-students/DS_HK_13/blob/gh-pages/projects/unit-projects/project-1/readme.md) file:

#### 1. Create a data dictionary

Answer (Use the template below): 

Variable | Description | Type of Variable
---| ---| ---
Admit | 0 = not admitted 1 = admitted | categorical
GRE | Student's GRE mark (Graduate  | continuous 
GPA | Student's GPA (Grade Point Average) | continuous
Prestige | 1 to 4, 1 = highest, 4 = lowest | categorical

We would like to explore the association between X (the predictors) and Y (the outcome).

#### 2. What is the outcome?

Answer: UCLA graduation school admission.

#### 3. What are the predictors/covariates?

Answer: GRE, GPA and Alma mar rank

#### 4. What timeframe is this data relevant for?

Answer: Unknown

#### 4. What is the hypothesis?

Answer: The various factors in the dataset that may influence admission into graduate school.

### Using the above information, write a well-formed problem statement.

##### Problem Statement

Applying logistic regression the UCLA data set with an unknown timeframe. We are using the predictors in the dataset (GRE, GPA and Alma mar rank) to predict the UCLA Grad School admission (Admitted = 1, not admitted = 0).

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan. These questions revise some of the class content covered in class. Some of the material will be covered in more depth in future sessions. Feel free to do some extra reading/research on your own.

Keep in mind that we are asking you to write abour how you would go about doind the EDA, not to perform the EDA itself. This will be covered in Project 2.

In [2]:
import pandas as pd
df = pd.read_csv('311_150k.csv', parse_dates=True, index_col=1, low_memory=False)
df.head(3)

,Unique Key,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
Created Date,,,,,,,,,,,,,,,,,,,,,
2014-11-16 23:46:00,29300358,11/16/2014 11:46:00 PM,DSNY,BCC - Queens East,Derelict Vehicles,14 Derelict Vehicles,Street,11432,80-25 PARSONS BOULEVARD,PARSONS BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.719411,-73.808882,"(40.719410639341916, -73.80888158860446)"
2014-11-16 02:24:35,29299837,11/16/2014 02:24:35 AM,DOB,Department of Buildings,Building/Use,Illegal Conversion Of Residential Building/Space,NaN,10465,938 HUNTINGTON AVENUE,HUNTINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.827862,-73.830641,"(40.827862046105416, -73.83064067165407)"
2014-11-16 02:17:12,29297857,11/16/2014 02:50:48 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11201,229 DUFFIELD STREET,DUFFIELD STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.691248,-73.984375,"(40.69124772858873, -73.98437529459297)"

In [5]:
print df.columns.values

['Unique Key' 'Closed Date' 'Agency' 'Agency Name' 'Complaint Type'
 'Descriptor' 'Location Type' 'Incident Zip' 'Incident Address'
 'Street Name' 'Cross Street 1' 'Cross Street 2' 'Intersection Street 1'
 'Intersection Street 2' 'Address Type' 'City' 'Landmark' 'Facility Type'
 'Status' 'Due Date' 'Resolution Action Updated Date' 'Community Board'
 'Borough' 'X Coordinate (State Plane)' 'Y Coordinate (State Plane)'
 'Park Facility Name' 'Park Borough' 'School Name' 'School Number'
 'School Region' 'School Code' 'School Phone Number' 'School Address'
 'School City' 'School State' 'School Zip' 'School Not Found'
 'School or Citywide Complaint' 'Vehicle Type' 'Taxi Company Borough'
 'Taxi Pick Up Location' 'Bridge Highway Name' 'Bridge Highway Direction'
 'Road Ramp' 'Bridge Highway Segment' 'Garage Lot Name' 'Ferry Direction'
 'Ferry Terminal Name' 'Latitude' 'Longitude' 'Location']

In [3]:
df.describe()

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Latitude,Longitude
count,1.499990e+05,1.358120e+05,135812.000000,0.0,135812.000000,135812.000000
mean,2.920132e+07,1.005251e+06,206905.776389,NaN,40.734535,-73.924189
std,5.839133e+04,2.112308e+04,31601.574047,NaN,0.086739,0.076183
min,2.909341e+07,9.134950e+05,121544.000000,NaN,40.500032,-74.254437
25%,2.915189e+07,9.937528e+05,182703.000000,NaN,40.668098,-73.965720
50%,2.920242e+07,1.003999e+06,204584.500000,NaN,40.728109,-73.928715
75%,2.925147e+07,1.016659e+06,236519.000000,NaN,40.815851,-73.883004
max,2.930123e+07,1.067151e+06,271409.000000,NaN,40.911587,-73.700837

In [14]:
print df["Due Date"]

Created Date
2014-11-16 23:46:00                       NaN
2014-11-16 02:24:35                       NaN
2014-11-16 02:17:12    11/16/2014 10:17:12 AM
2014-11-16 02:15:13    11/16/2014 10:15:13 AM
2014-11-16 02:14:01    11/16/2014 10:14:01 AM
2014-11-16 02:11:41    11/16/2014 10:11:41 AM
2014-11-16 02:08:55    11/16/2014 10:08:55 AM
2014-11-16 02:07:33    11/16/2014 10:07:33 AM
2014-11-16 02:06:37    11/16/2014 10:06:37 AM
2014-11-16 02:05:28    11/16/2014 10:05:28 AM
2014-11-16 02:04:47    11/16/2014 10:04:47 AM
2014-11-16 02:03:36    11/16/2014 10:03:36 AM
2014-11-16 02:03:14    11/16/2014 10:03:14 AM
2014-11-16 02:01:52    11/16/2014 10:01:52 AM
2014-11-16 02:01:07    11/16/2014 10:01:07 AM
2014-11-16 01:57:33    11/16/2014 09:57:33 AM
2014-11-16 01:54:25    11/16/2014 09:54:25 AM
2014-11-16 01:53:36    11/16/2014 09:53:36 AM
2014-11-16 01:52:58    11/16/2014 09:52:58 AM
2014-11-16 01:52:12    11/16/2014 09:52:12 AM
2014-11-16 01:50:20    11/16/2014 09:50:20 AM
2014-11-16 01:48:10                       NaN
2014-11-16 01:47:29    11/16/2014 09:47:29 AM
2014-11-16 01:47:24                       NaN
2014-11-16 01:46:59    11/16/2014 09:46:59 AM
2014-11-16 01:46:36    11/16/2014 09:46:36 AM
2014-11-16 01:46:30    11/16/2014 09:46:30 AM
2014-11-16 01:45:58    11/16/2014 09:45:58 AM
2014-11-16 01:45:11    11/30/2014 01:45:11 AM
2014-11-16 01:44:52    11/16/2014 09:44:52 AM
                                ...
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
2014-10-19 00:00:00                       NaN
Name: Due Date, Length: 149999, dtype: object

#### 1. What are the goals of the exploratory analysis?

Answer: It is used to analyse the data we have in a certain dataset, which is the NY complaints data set. We study the factors (columns) in the data to understand the correlations between them which can then build a model/create charts to predict a certain scenario. e.g. use the location to predict the type of complaint type

#### 2a. What are the assumptions of the distribution of data?

Continuous

Answer:

#### 2b. How will determine the distribution of your data?

Answer: We can check the data skewness and kurtosis or we can plot the histogram if we simply want to understand the important features of the distribtution.

#### 3a. How might outliers impact your analysis?

Answer: It will make your dataset skewed and increase the varience & standard deviation.

#### 3b. How will you test for outliers?

Answer: Check skewness of the data. e.g. using boxplot and histogram can give us the approximate mormality of the data point.

#### 4a. What is collinearity?

Answer: The degree that how the data points fit the line that we plot on a chart.

#### 4b. How will you test for collinearity?

Answer: If we use linear regression, the collinearity can be tested by studying the R-sq. The higher the R-sq, the better the line fits the data points.

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: Using the NY complaints data set, which data was collected in 2014. By applying a Logistic Regression model, we are studying how well our predictors ('City' 'Landmark' 'School Region' Vehicle Type' 'Bridge Highway Segment' 'Garage Lot Name' 'Ferry Direction'
 'Latitude' 'Longitude' and 'Location' ) can help estimating our complaint type.

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model